<ion-content class="body">
  <ion-slides pager={true} options={slideOpts}>
    
    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <img class="slide-1" src="./../../assets/images/e-l-s-1.png" alt="slide1"/>
        </ion-col>
      </ion-row>
    </ion-slide>


    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <img class="slide-1" src="./../../assets/images/e-l-s-1.png" alt="slide1"/>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <img class="slide-1" src="./../../assets/images/e-l-s-1.png" alt="slide1"/>
        </ion-col>
      </ion-row>
    </ion-slide>



    <ion-slide>
      <ion-row>
        <ion-col size="12" style="padding: 0;">
          <img class="slide-1" src="./../../assets/images/e-l-s-1.png" alt="slide1"/>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
  <ion-button class="BtnSkip">Skip</ion-button>
  <ion-button class="BtnNext">Next <ion-icon class="NextIcon" name="arrow-forward-circle-outline"></ion-icon></ion-button>
</ion-content>