<ion-header>
  <ion-toolbar>
    <ion-title class="Title">
      <ion-icon class="BackBtnIcon" name="arrow-back-circle-outline"></ion-icon>
      Video Enhancment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="PendingBtn" shape="round">pending</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="EstimatedBtn" shape="round">Estimated</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="ProceccingBtn" shape="round">Proceccing</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="CompletedBtn" shape="round">Completed</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="ReviewdBtn" shape="round">Review</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
          <ion-icon class="CardHeaderVideoIcon" name="play"></ion-icon>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
          <ion-button class="RejecteddBtn" shape="round">Rejected</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

