<ion-header  class="Headr">
  <ion-toolbar  class="TolbarBg">
    <ion-title  class="Title">
      <ion-icon class="BackBtnIcon" name="arrow-back-circle-outline"></ion-icon>
      Add video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="IonItemRow">
    <ion-label  position="stacked">Tittle</ion-label><ion-item>
      
      <ion-input class="AddVideoInput" placeholder="EX:Biology & The Scientific Method"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row  class="IonItemRow">
    <ion-label  position="stacked">Descripition</ion-label><ion-item>
      
      <ion-textarea  class="AddVideoInput" rows="6" cols="20" placeholder="Type here..."></ion-textarea>
      
    </ion-item>
  </ion-row>

  <ion-row class="UploadVideoRow">
    <ion-col class="IconCol" size="12"><ion-icon class="ImageIcon" name="image"></ion-icon></ion-col>
    <ion-col  class="UploadVideo"  size="12"><ion-text>Upload Video</ion-text></ion-col>
  </ion-row>
  <ion-row>
    <ion-button class="UploadBtn" shape=round>Upload</ion-button>
  </ion-row>
</ion-grid>
</ion-content>
