<ion-header class="Headr">
  <ion-toolbar class="TolbarBg">
    <ion-title class="Title">
      <ion-icon class="BackBtnIcon" name="arrow-back-circle-outline"></ion-icon>
      video enhancment</ion-title>
  </ion-toolbar>
  <div class="IconBoxVideo"><ion-icon class="PlayIcon" name="play"></ion-icon></div>
  
  
</ion-header>

<ion-content>
<ion-grid>
  <ion-row><ion-text><h3 class="videoTitle">Biology & The Scientific</h3></ion-text></ion-row>
  <ion-row><ion-text><h1 class="videoPrice">$50</h1></ion-text></ion-row>
  <ion-row><ion-text> <p class="videoDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Distinctio magnam dolorem assumenda, cupiditate aspernatur esse.</p> </ion-text></ion-row>
</ion-grid>
</ion-content>
