<ion-header class="Headr">

  <ion-toolbar class="Tolbar">

    <ion-title class="Title">
      <ion-icon class="BackBtnIcon" name="arrow-back-circle"></ion-icon>
      course details
      <ion-icon class="FilterIcon" name="bookmark-outline"></ion-icon>

    </ion-title>

    <ion-grid>
      <ion-row class="TolbarRow">
        <ion-col size="12" class="BiologyBasicBox">
          <ion-text class="BiologyBasics">Biology Basics</ion-text>
        </ion-col>
        <ion-col class="AllTolbarCol" size="12">
          <ion-text class="BiologySM">Biology & Scientific Method</ion-text>
        </ion-col>
        <ion-col class="AllTolbarCol" size="12">
          <ion-text>
            <ion-icon class="StarIcon" name="star"></ion-icon>
            <ion-icon class="StarIcon" name="star"></ion-icon>
            <ion-icon class="StarIcon" name="star"></ion-icon>
            <ion-icon class="StarIcon" name="star"></ion-icon>
            <ion-icon class="StarIcon" name="star"></ion-icon>
            <span class="RatingVoteText">15 Videos/120 purchased</span>
          </ion-text>
        </ion-col>
        <ion-col class="AllTolbarCol" size="6">
          <ion-text class="AvtarText">
            <ion-avatar class="Avtar"><img src="../../assets/images/card img1.jpg" alt=""></ion-avatar>
            <span class="AvtarSpan">By Selina Twiaka</span>
          </ion-text>
        </ion-col>
        <ion-col class="BtnBoxTolbar">
          <ion-button shape="round" class="PurchasedBTN">BD 250 Buy Now</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size="6">
        <ion-button shape="round" class="OrviewBtn">Overview</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button shape="round" class="LessnBtn">lessons</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="DescriptioRow">
      <ion-col size="12">
        <ion-text class="DescriptionTex">Description</ion-text>
      </ion-col>
      <ion-col size="12">
        <p class="DescriptionPara">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ullam doloremque corrupti dolor vitae eveniet sit beatae quae,
          vero ex nulla perspiciatis autem voluptates magni ipsa.
        </p>
      </ion-col>



    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-icon class="circle1" name="ellipse"></ion-icon>
        <ion-text class="circleText">15 Videos lessons</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-icon class="circle2" name="ellipse"></ion-icon>
        <ion-text class="circleText">Exclusive learning materials</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-icon class="circle3" name="ellipse"></ion-icon>
        <ion-text class="circleText">100% guaranteed</ion-text>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-text class="Reviews">Reviews</ion-text>
      </ion-col>

      <ion-row>

        <ion-col size="12">
          <ion-row>
            <ion-col size="2">
              <ion-avatar><img class="files-2" src="../../assets/images/card img1.jpg"></ion-avatar>
            </ion-col>
            <ion-col size="10">
              <p class="MikePara">Mike jones <span>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>4.7
                  <span class="Review2hrsAgo">2hrs ago</span>
                </span></p>
            </ion-col>
              <p class="ReviewCardLastP">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Id porro impedit numquam pariatur praesentium tenetur.</p>

          </ion-row>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-row>
            <ion-col size="2">
              <ion-avatar><img class="files-2" src="../../assets/images/card img1.jpg"></ion-avatar>
            </ion-col>
            <ion-col size="10">
              <p class="MikePara">Mike jones <span>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>4.7
                  <span class="Review2hrsAgo">2hrs ago</span>
                </span></p>
            </ion-col>
              <p class="ReviewCardLastP">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Id porro impedit numquam pariatur praesentium tenetur.</p>

          </ion-row>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-row>
            <ion-col size="2">
              <ion-avatar><img class="files-2" src="../../assets/images/card img1.jpg"></ion-avatar>
            </ion-col>
            <ion-col size="10">
              <p class="MikePara">Mike jones <span>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>
                  <ion-icon class="StarIcon" name="star"></ion-icon>4.7
                  <span class="Review2hrsAgo">2hrs ago</span>
                </span></p>
            </ion-col>
              <p class="ReviewCardLastP">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Id porro impedit numquam pariatur praesentium tenetur.</p>

          </ion-row>
        </ion-col>

      </ion-row>


    </ion-row>
  </ion-grid>
</ion-content>