.BackBtnIcon{
    position: absolute;
    left: 4%;
    color: black;
    font-size: 30px;
    
}
.Title{
    font-size: 24px;
    padding-left: 18%;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;

}
.CardBox{
    display: inline-flex;
    width: 100%;
    margin: 0;
    border-radius: 30px;
}
.CardHeader{
    width: 30% !important;
    padding: 0;
}
.MyCorsesCardHeadrImg{
    width: 100%;
    height: 100%;
}
.cardSubTittle1{
    color: #6677ff;
    padding-top: 5px;
    font-size: 12px;
}
.card3RDSubTittle1{
    color: black;
    padding-top: 5px;
    font-size: 16px;
}
.StarIcon{
    margin-top: 5px;
    color: #ffc350;
    font-size: 16px;
}
.RatingVoteText1{
    position: absolute;
    right: 5%;
    color: #5468ff;
    font-size: 14px;
    font-weight: 700;
}
.RatingVoteText{
    margin-top: 5px;
    color: #a4b9c9;
    padding-left: 15px;
    font-size: 14px;
}
.cardSubTittle2{
    padding-top: 5px;
    font-weight: 600;
}
.cardSubTittle2Span{
    padding-top: 5px;
    font-weight: 600;
    padding-left: 15px;
}
.CardRow{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.slid2-main-head{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slid2-3rdCrd-main-head{
    font-size: 14px;
    color: #a4b9c9;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ion-text-left{
    width: 70% !important;
    padding: 0;
    padding-left: 5px;
}
.VideoIcon{
    background: #2d8cff;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    position: relative;
    top: 5px;
}
.UpcomingBtn{
    --background: #ffc2505b;
    --color: #ffc350;
    width: 30%;
    height: 30px;
    font-size: 10px;
    margin-top: 0;
    margin-left: 10%;
}
.crd-sb-title{
    text-align: start;
    margin-top: 5px;
    color: #2d8cff;
}