<ion-header>
  <ion-toolbar>
    <ion-title class="Title">
      <ion-icon class="BackBtnIcon" name="arrow-back-circle-outline"></ion-icon>
      Orders & Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="BtnRow">
    <ion-col class="BtnBox" size="4"><ion-button class="Order-P-S-Btn Active" shape="round">Orders</ion-button></ion-col>
    <ion-col class="BtnBox" size="4"><ion-button class="Order-P-S-Btn" shape="round">Payments</ion-button></ion-col>
    <ion-col class="BtnBox" size="4"><ion-button class="Order-P-S-Btn" shape="round">settelments</ion-button></ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="CardRow">
    <ion-col size="12" class="CrdCol">
      <ion-card class="CardBox">
        <ion-card-header class="CardHeader">
          <ion-avatar class="OrderCrdAvtar"><img class="MyCorsesCardHeadrImg" src="../../assets/images/card img1.jpg"></ion-avatar>
        </ion-card-header>
        <ion-card-content class="ion-text-left slid2-crd-contant">
          <ion-card-title class="CrdTittle">Biology & The Scientific Method</ion-card-title>
          <ion-card-subtitle class="cardSubTittle1">Biology Basics</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
