<ion-content>
  <img class="TittleImg" src="../../assets/images/phone-verify.png" alt="">
  <ion-row>
    <ion-col class="codeBox" size="2"><ion-input placeholder="2"></ion-input></ion-col>
    <ion-col class="codeBox" size="2"><ion-input placeholder="4"></ion-input></ion-col>
    <ion-col class="codeBox" size="2"><ion-input placeholder="6"></ion-input></ion-col>
    <ion-col class="codeBox" size="2"><ion-input placeholder="8"></ion-input></ion-col>

    <ion-col size=12><p class="VerifyPara">i did not receved a code</p></ion-col>
    <ion-col  size=12><a class="VerifyA" href="#">Resend</a></ion-col>

    <ion-button class="VerifyNextBtn">Next<ion-icon class="V-F-Icon" name="arrow-forward-circle"></ion-icon></ion-button>
  </ion-row>
</ion-content>
