.BackBtnIcon{
    position: absolute;
    left: 4%;
    color: #fff;
    font-size: 30px;
    
}
.Title{
    font-size: 24px;
    padding-left: 18%;
    color: #fff;
    margin-top: 5%;

}
.TittleGrid{
    padding: 0;
    
}
.TolbarRow{
    width: 100%;
    background-image: linear-gradient(90deg, rgba(84,104,255,0.48503151260504207) 100%, rgba(228,236,237,0) 100%), url(../../assets/images/undraw_social_thinking_7ule.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: linear-gradient(90deg, rgba(84,104,255,0.48503151260504207) 100%, rgba(228,236,237,0) 100%) !important;
    padding: 0;
    padding-bottom: 20px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 60vh;
}
.BiologyBasics{
    
    font-size: 12px;
    color: #fff;
    margin-left: 4%;
    margin-bottom: 0;
}
.BiologyBasicBox{
    // margin-top: 20%;
    height: 0;
    margin-top: 25%;
}
.SwithBtnBox{
    height: 0;
}
.BiologySM{
    font-size: 18px;
    color: #fff;
    margin-left: 4%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.StarIcon{
    margin-top: 5px;
    color: #ffc350;
    font-size: 16px;
}
.RatingVoteText{
    margin-top: 5px;
    color: #fff;
    padding-left: 5px;
    font-size: 14px;
    
}
.StarCol{
    margin-left: 4%;
    margin-top: 0;
}
.AvtarText{
    display: flex
}
.Avtar{
    width: 25px;
    height: 25px;
    margin-left: 4%;
}
.AvtarSpan{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px;
    color: #fff;
    margin-left: 10px;

}
.TitleBackBtnIcnCol{
    margin-top: 5%;
}
.OrviewBtn{
    width: 75%;
    --background: #5468ff;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    height: 40px;
}
.LessnBtn{
    width: 75%;
    --background: #fff;
    color: #000;
    font-size: 12px;
    text-transform: capitalize;
}
.EnroledBtn{
    width: 75%;
    --background: #fff;
    color: #000;
    font-size: 12px;
    text-transform: capitalize;
}
// .OrviewBtn,.LessnBtn,.EnroledBtn:hover{
//     width: 75%;
//     --background: #5468ff;
//     color: #fff;
//     font-size: 12px;
//     text-transform: capitalize;
//     height: 40px;
// }
.BtnsCol{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.DescriptionTex{
    margin-left: 4%;
    font-size: 18px;
}
.pencil,.trash{
    font-size: 19px;
    color: #9fb5c6;
    margin-right: 5px;
    margin-left: 20px;
}
.DescriptionPara{
    margin-left: 3%;
    font-size: 12px;
    color: #9fb5c6;
    margin-right: 3%;
}

.onoffswitch {
    position: relative; width: 55px; margin-left: 4%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 28px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Live";
    padding-left: 8px;
    background-color: #FFFFFF; color: #5468FF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #EEEEEE; color: #5468FF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 15px; height: 15px; margin: 5.5px;
    background: #5468FF;
    position: absolute; top: 0; bottom: 0;
    right: 29px;
    border: 2px solid #FFFFFF; border-radius: 50px !important;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.AddIcnAvtar{
    width: 50px;
    height: 50px;
    background: #5468ff;
    padding: 15px;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
}
.AddIcn{
    font-size: 18px;
    color: #fff;
}
.AddIcnBox{
    justify-content: end;
    display: grid;
}