<ion-content>

  <ion-grid class="TittleGrid">
    

    <ion-row class="TolbarRow">
      <ion-col size="12" class="TitleBackBtnIcnCol">
        <ion-text  class="Title">
        <ion-icon class="BackBtnIcon" name="arrow-back-circle"></ion-icon>
        course details
        
      </ion-text>
      </ion-col>

      <ion-col size="12" class="BiologyBasicBox">
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
          </label>
      </div>
        <p class="BiologyBasics">Biology Basics</p>
        <p class="BiologySM">Biology & The Scientific Method</p>
        <p class="StarCol">
          <ion-icon class="StarIcon" name="star"></ion-icon>
          <ion-icon class="StarIcon" name="star"></ion-icon>
          <ion-icon class="StarIcon" name="star"></ion-icon>
          <ion-icon class="StarIcon" name="star"></ion-icon>
          <ion-icon class="StarIcon" name="star"></ion-icon>
          <span class="RatingVoteText">15 Videos/120 purchased</span>
        </p>
      </ion-col>
      
      <ion-col class="StarCol" size="12">
        
      </ion-col>
    
     

    </ion-row>

    <ion-row>
      <ion-col class="BtnsCol" style="text-align: center;" size="4">
        <ion-button shape="round" class="OrviewBtn">Overview</ion-button>
      </ion-col>
      <ion-col class="BtnsCol" size="4">
        <ion-button shape="round" class="LessnBtn">lessons</ion-button>
      </ion-col>
      <ion-col class="BtnsCol" size="4">
        <ion-button shape="round" class="EnroledBtn">Enroled</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="DescriptioRow">
      <ion-col size="8">
        <ion-text class="DescriptionTex">Description</ion-text>
      </ion-col>
      <ion-col size="4"><ion-icon class="trash" name="trash"></ion-icon><ion-icon class="pencil" name="pencil"></ion-icon></ion-col>
          
      <ion-col size="12">
        <p class="DescriptionPara">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ullam doloremque corrupti dolor vitae eveniet sit beatae quae,
          vero ex nulla perspiciatis autem voluptates magni ipsa.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ullam doloremque corrupti dolor vitae eveniet sit beatae quae,
          vero ex nulla perspiciatis autem voluptates magni ipsa.
        </p>
      </ion-col>
      <ion-col class="AddIcnBox" size="12">
        <ion-avatar class="AddIcnAvtar"><ion-icon class="AddIcn" name="add-outline"></ion-icon></ion-avatar>
      </ion-col>



    </ion-row>
  </ion-grid>
















  
</ion-content>
